$mainColor: #15023a;


$tablet: 960px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
};


$mobile: 760px;
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content   
    }
};